/Lab2_TaskManager/TaskManagerServer/target/
/Lab2_TaskManager/TaskManagerClient/target/
.idea
target
/Lab3_TaskManager/TaskManager/TaskManager.iml
/Lab4_TaskManager/TaskManager/TaskManager.iml
/Lab5_TaskManager/TaskManager/TaskManager.iml
/Lab1_TaskManager/TaskManager/TaskManager.iml
/Lab2_TaskManager/TaskManagerClient/TaskManagerClient.iml
/Lab2_TaskManager/TaskManagerServer/TaskManagerServer.iml
/Lab3_TaskManager/bd+dao/TaskManager/target
/Lab3_TaskManager/bd+dao/TaskManager/TaskManager.iml
