/Lab2_TaskManager/TaskManagerServer/target/
/Lab2_TaskManager/TaskManagerClient/target/
.idea
target
/Lab3_TaskManager/TaskManager/TaskManager.iml
/Lab4_TaskManager/TaskManager/TaskManager.iml
/Lab5_TaskManager/TaskManager/TaskManager.iml
